name: CI

on:
  push:
    branches:
      - '**' # all branches
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Install system dependencies for Ebiten (X11, audio)
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libasound2-dev \
            libxxf86vm-dev \
            libgl1-mesa-dev \
            libx11-dev \
            libxrandr-dev \
            libxcursor-dev \
            libxinerama-dev \
            libxi-dev

      - name: Run tests
        run: go test -v ./...

      - name: Build the project
        run: go build -v .